.video-thumbnail {
  width:100%;
  margin-bottom: 5px;
}
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.profile-picture {
  border-radius: 100px;
  width: 36px;
  vertical-align: top;
  margin-right: 7px;
}
.video-title {
  font-size: 14px;
  font-weight: bold;
  width: 200px;
  vertical-align: top;
  margin-top: 0px;
  margin-bottom: 10px;
  line-height: 20px;
}
.channel-name {
  font-size: 12px;
  color: gray;
}
.video-stats {
  font-size: 12px;
  color: gray;
  line-height: 20px;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width:751px) and (max-width:999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
    position: absolute;
    background-color: black;
    color: white;
    bottom: 20px;
    right: 10px;
    padding: 4px 4px 4px 4px;
    border-radius: 2px;
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
}